@model SportClubSite.Models.Player
<body class="images-cropper-pro" style="background-image: url(/image/a14.jpg)">
 
    <div>
 
        <hr />

        <dl class="dl-horizontal" style="color:white">
            <dt>
                @Html.DisplayNameFor(model => model.TeamName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeamName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlayerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlayerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Long)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Long)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Wieght)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Wieght)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Team.TeamName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Team.TeamName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>