@model SportClubSite.Models.TeamMangment
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="~/Usertemp/css/roboto-font.css">
    <link rel="stylesheet" type="text/css" href="~/Usertemp/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/Usertemp/css/style.css" />

</head>

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="page-content">
        <div class="form-v2-content">

            <div class="form-left">

                <img src="~/image/zs1.jpg" alt="form" width="600" height="600">


            </div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal" style="padding:50px">
                    <h4>TeamMangment</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.TeamMangment_id)
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Team_id, "Team_id", new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Team_id)
                            @Html.ValidationMessageFor(model => model.Team_id)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Owner, new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Owner)
                            @Html.ValidationMessageFor(model => model.Owner)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Coatch, new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Coatch)
                            @Html.ValidationMessageFor(model => model.Coatch)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Employee_id, "Employee_id", new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Employee_id)
                            @Html.ValidationMessageFor(model => model.Employee_id)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

                <div style="padding:40px">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
</div>
        </div>

</body>
</html>