@model SportClubSite.Models.Team

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../../ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Usertemp/css/roboto-font.css">
    <link rel="stylesheet" type="text/css" href="~/Usertemp/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/Usertemp/css/style.css" />

</head>
<body >

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="page-content">
        <div class="form-v2-content">

            <div class="form-left">

                <img src="~/image/sdf5.jpg" alt="form" width="500" height="600">


            </div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="alert-danger">




        <h2 style="padding:5px">Ediation Form</h2>

    </div>
                <div class="form-horizontal" style="padding:50px">
                    
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Team_id)

                    <div class="form-group" style="padding:20px">
                        @Html.LabelFor(model => model.Team_id, new { @class = "control-label col-md-2" })
                        <br/>
                        <br/>
                        <div class="col-md-10" >
                            @Html.EditorFor(model => model.Team_id)
                            @Html.ValidationMessageFor(model => model.Team_id)
                        </div>
                    </div>

                  
                    <div class="form-group" style="padding:20px">
                        @Html.LabelFor(model => model.TeamName, new { @class = "control-label col-md-2" })
                       <br/>
                        <br/>
                         <div class="col-md-10" >
                            @Html.EditorFor(model => model.TeamName)
                            @Html.ValidationMessageFor(model => model.TeamName)
                        </div>
                    </div>

                    <br />
                    <div class="form-group" style="padding:20px">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            
                <div style="padding:20px">
                @Html.ActionLink("Back to List", "Index")
                </div>
            }

            
        </div>
    </div>

</body>
</html>
