@model SportClubSite.Models.Product

<style>
    h4 {
        float: left;
        display: inline-block;
        background-color: #00771e;
        color: #fff;
        font-size: 1.5em;
        padding: 10px 20px;
        text-decoration: none;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Usertemp/css/roboto-font.css">
<link rel="stylesheet" type="text/css" href="~/Usertemp/fonts/line-awesome/css/line-awesome.min.css">
<!-- Jquery -->
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
<!-- Main Style Css -->
<link rel="stylesheet" href="~/Usertemp/css/style.css" />

<hr />
<hr />
<hr />


<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <div class="page-content">
        <div class="form-v2-content">
            <div class="form-left">

                <img src="~/image/z1.jpg" alt="form" width="600" height="650">

            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                   <h2 style="padding:20px">Addition Form</h2>

                
                <div class="form-horizontal" style="padding:30px">
                    
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductId, new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProductId)
                            @Html.ValidationMessageFor(model => model.ProductId)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProductName)
                            @Html.ValidationMessageFor(model => model.ProductName)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price)
                            @Html.ValidationMessageFor(model => model.Price)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Image)
                            @Html.ValidationMessageFor(model => model.Image)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <br />
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }

            </div>
        </div>
</body>