@model SportClubSite.Models.CycleTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ViewPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CycleTable</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SortTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YallowCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YallowCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Differnce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Differnce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cycle.Cycle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle.Cycle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CycleTable_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
