@model SportClubSite.Models.MatchCard
@{
    ViewBag.Title = "AddToCard";
}

<link rel="icon" type="image/png" href="~/UserLogin/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/UserLogin/css/util.css">
<link rel="stylesheet" type="text/css" href="~/UserLogin/css/main.css">

<br />
<br />
<br />
@using (@Html.BeginForm())
{



    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">

                <img style="min-height:200px; width:200px;" src="@Url.Content(Model.ImagePath)" />


            </div>



            <div class="col-lg-8 col-md-8 col-sm-8">

                <h1> @Model.HomeTeam VS  @Model.AwayTeam</h1>
                <h2>Price: @Model.Price DR</h2>
                <h3>RankCard: @Model.RankCard</h3>
                <h4>KindOfCard:@Model.KindOfCard</h4>
                <h5>ChairNumber:@Model.ChairNumber</h5>
               

                
                <input type="number" name="RankCard" value="1" id="RankCard" min="1" max="1" />

                <input type="submit" value="Submit" class="btn btn-primary" />

            </div>



        </div>


    </div>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <link href="~/CS/CssLayoutAfter/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/CS/CssLayoutStart/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CS/CssLayoutStart/mycss.css" rel="stylesheet" />
    <script src="~/Script/jsLayoutAfter/jquery-1.11.3.min.js"></script>
    <script src="~/Script/jsLayoutAfter/jquery.charts-sparkline.js"></script>
    <script src="~/Script/jsLayoutAfter/jquery-price-slider.js"></script>
    <script src="~/Script/jsLayoutAfter/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Script/jsLayoutAfter/jquery.meanmenu.js"></script>
    <script src="~/Script/jsLayoutAfter/jquery.scrollUp.min.js"></script>
    <script src="~/Script/jsLayoutAfter/jquery.sparkline.min.js"></script>
    <script src="~/Script/jsLayoutAfter/jquery.sticky.js"></script>
    <script src="~/Script/jsLayoutStart/jquery.easing.min.js"></script>
    <script src="~/Script/jsLayoutStart/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.intellisense.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.13.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.13.min.js"></script>
    <script src="~/Scripts/jquery-ui.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}
